Repository lvpv/vite-vue-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, prettier --write, stylelint --fix --allow-empty-input

test lint-staged rc config
  .husky/pre-commit
Due: none

change lint-staged config with lint-staged.config.cjs
  .lintstagedrc
  lint-staged.config.cjs
Due: none

feat(commitlint/cz-git/czg): 🚀 config commitlint cz-git czg
  .commitlintrc.cjs
  .husky/commit-msg
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(@types/node): 🚀 add @types/node dependencies
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, prettier --write

docs(README): 📚 add README Document
  README.md
Due: prettier --ignore-unknown --write

feat(unocss): 🚀 config unocss
  package.json
  pnpm-lock.yaml
  src/main.ts
  uno.config.ts
  vite.config.ts
Due: prettier --ignore-unknown --write, eslint --fix, prettier --write

feat(env): 🚀 add env[dev、prod] file
  .env
  .env.dev
  .env.prod
  package.json
  src/vite-env.d.ts
Due: prettier --ignore-unknown --write, eslint --fix, prettier --write

Path conditions:
  prettier --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss,html})) or (any of: *.md)
  eslint --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --write: (any of: package.json) or (any of: *.vue)
  stylelint --fix --allow-empty-input: (any of: *.vue) or (any of: *.{css,scss,html})
